<h1>Registrarse</h1>
<%= form_with(model: @user) do |form| %>

    <% if @user.errors.any? %>
    <div class="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> Formulario inválido</h2>
        <ul>
            <% @user.error.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <%= form.label :name %><br/>
        <%= form.text_field :name %>
    </div>
    <div class="field">
        <%= form.label :email %><br/>
        <%= form.text_field :email %>
    </div>
    <div class="field">
        <%= form.label :password %><br/>
        <%= form.password_field :password %>
    </div>  
    <div class="actions"><%= form.submit "Registrarse" %></div>
<% end %>    
